  .ubslick-arrows > .lp-pom-button{
    position: relative;
  }
  .ubslick-arrows > .lp-pom-button::before {
    content: "";
    position: absolute;
    top: -1px;
    left: -1px;
    width: 25px;
    height: 26px;
    background: center / auto no-repeat
      url("https://user-assets.unbounce.com/38e549b4-1f3a-11e3-b583-12313e02a4f0/50dfcb69-05a2-4588-9446-e52bccc343a8/path.original.svg");
  }
  .ubslick-arrow-next:before {
    transform: scaleX(-1);
  }
  .ubslick-arrows > .lp-pom-button:hover::before {
    filter: brightness(0) invert(1);
  }
  .ubslick-arrows.dark > .lp-pom-button::before {
    filter: brightness(0) invert(1);
  }
  .ubslick-arrows.dark > .lp-pom-button:hover::before {
    filter: none;
  }
