*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.dejanos {
    background: url(/images/banner-bg.jpg);
    padding-top: 280px;
    padding-bottom: 90px;
}
.b-circuit {
    width: 100%;
    max-width: 53.07vw;
    position: absolute;
    top: 0;
    left: 43.23vw;
}
h1{
    font-size: 3.57vw;
}


@media only screen and (min-width:1366px){
    .container{
        width: 82.60vw;
        margin: auto;
        position: relative;
    }
    .dejanos{
        background-size: 100vw;
    }
}