<style>

/* Add animation properties*/

 #lp-pom-button-670{
  -webkit-animation-duration: 1.5s;
  -moz-animation-delay: 2s;
  -o-animation-iteration-count: infinite;
   animation-duration: 1.5s;
   animation-delay: 2s;
   animation-iteration-count: infinite;
}
</style>