<div class="download-wrapper" [ngClass]="isMinimized ? 'minimized' : 'maximized' ">
    <div class="downloads-header">
        <div class="row align-items-center">
            <div class="col-sm-8">
                <div class="progress-text">{{ overallProgressText }}</div>
            </div>
            <div class="col-sm-4 d-flex justify-content-end">
                <div *ngIf="isMinimized && !downloadsIsDone" class="progress-total-percent">
                    <object data="assets/images/energin-loading-animate.svg" style="max-height: 22.25px;"></object>
                </div>
                <div class="downloads-controls d-flex align-items-center ms-4">
                    <div class="row">
                        <div class="col-6 p-0 download-ctrl ctrl-minmax" [ngClass]="{'dropicon-rotate': isMinimized }" (click)="minMaxControl()">
                            <img src="assets/images/dropdown-black-icon.svg" class="me-2">
                        </div>
                        <div class="col-6 p-0 download-ctrl ctrl-remove text-end" (click)="cancelDownloads()">
                            <img src="assets/images/close-black-icon.svg" alt="">
                        </div>
                    </div>
                </div>
    
            </div>
        </div>
    </div>
    <div class="downloads-body" [ngClass]="{'d-none': isMinimized}">
        <ng-template #downloadBody></ng-template>
    </div>
</div>

