<style type="text/css">
  .lp-pom-button { /*fixes ease in/out transition of all default buttons*/
    transition: background 0.5s;
    -moz-transition: background 0.5s;
    -ms-transition: background 0.5s;
    -webkit-transition: background 0.5s;
  }  

  div.lp-pom-root .lp-pom-button span { /*button text/span*/

  }

  #lp-pom-form-42 .lp-pom-form-field label {/*field label*/

  }  

  #lp-pom-form-42 input[type=text],
  #lp-pom-form-42 input[type=tel],
  #lp-pom-form-42 input[type=email],  
  #lp-pom-form-42 select{ /**text boxes*/

  }

  #lp-pom-form-42 textarea{ /**text area**/
    resize: none !important; y-overflow:auto;
  }  


  #lp-pom-form-42 input[type=email]:focus, 
  #lp-pom-form-42 input[type=email]:hover,  
  #lp-pom-form-42 input[type=tel]:focus, 
  #lp-pom-form-42 input[type=tel]:hover,   
  #lp-pom-form-42 input[type=text]:focus, 
  #lp-pom-form-42 input[type=text]:hover,  
  #lp-pom-form-42 select:focus, 
  #lp-pom-form-42 select:hover, 
  #lp-pom-form-42 textarea:focus, 
  #lp-pom-form-42 textarea:hover {
    //border-color: #F5AF49 !important; 
    // -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(72,95,115,0.6);
    //-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(72,95,115,0.6);
    //box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(72,95,115,0.6); 
  }  

  #lp-pom-form-42  select { /**Select Option**/ 
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    padding-left: 10px;
    border-radius: 2px;
    background: #fff url('https://app.unbounce.com/publish/assets/065ac849-5a61-4ed5-a89b-fccf1cadb1cb/7c0bfe42-dropdown-arrow.png') center right 15px no-repeat !important; 
    //color: #2B2B2B !important;
  }

  /*FOR PLACEHOLDER TEXT*/
  ::-webkit-input-placeholder { 
    color: #2B2B2B;
    opacity: 1 !important;
  }
  :-moz-placeholder { 
    color: #808083; 
    opacity: 1 !important;
  }

  ::-moz-placeholder {  
    color: #2B2B2B; 
    opacity: 1 !important;
  }

  :-ms-input-placeholder { 
    color: #2B2B2B; 
    opacity: 1 !important;
  } 

	
  #lp-pom-form-42 .lp-pom-form-field {
    position: static !important;
    height: auto;
    margin-bottom: 20px;
  }
  #lp-pom-form-42 .lp-pom-form-field .lp-form-label{
    position: static;
  }
  #lp-pom-form-42 .optionsList {
    position: static;
    height: auto;
    margin-top: 48px;
  }
  .lp-pom-form.has-axis .fields{
    display: block;
  }
  button#lp-pom-button-43{
    position: static;
    margin: 0 auto;
  }
  #lp-pom-button-43 .label {
    position: static;
    margin-top: 0 !important;
  }
  #lp-pom-form-42 .lp-pom-form-field .single {
    position: static;
  }
  #lp-pom-form-42 .lp-pom-form-field .single {
    width: 100% !important;
  }
  @media only screen and (min-width: 601px){
    #container_phone,
    #container_postcode,
    #container_first_name,
    #container_last_name {
      display: inline-block;
      vertical-align: top;
      width: 244px;
    }
    #container_postcode,
    #container_first_name {
      padding-right: 5px;
    }
    #container_phone,
    #container_last_name {
      padding-left: 5px;
    }
  }

  @media only screen  and (max-width: 600px){
    #lp-pom-form-42 .optionsList{
      margin-top: 28px;
    }
    #lp-pom-form-42 .lp-pom-form-field {
      margin: 0 auto 15px;
    }
  }
</style>
