<style type="text/css">
  #lp-pom-form-42 .lp-pom-form-field {
    position: static !important;
    height: auto;
    margin-bottom: 20px;
  }
  #lp-pom-form-42 .lp-pom-form-field .lp-form-label{
    position: static;
  }
  #lp-pom-form-42 .optionsList {
    position: static;
    height: auto;
    margin-top: 48px;
  }
  .lp-pom-form.has-axis .fields{
    display: block;
  }
  button#lp-pom-button-43{
    position: static;
    margin: 0 auto;
  }
  #lp-pom-button-43 .label {
    position: static;
    margin-top: 0 !important;
  }
  #lp-pom-form-42 .lp-pom-form-field .single {
    position: static;
  }
  #lp-pom-form-42 .lp-pom-form-field .single {
    width: 100% !important;
  }
  @media only screen and (min-width: 601px){
    #container_phone,
    #container_email,
    #container_first_name,
    #container_last_name {
      display: inline-block;
      vertical-align: top;
      width: 252px;
    }
    #container_phone,
    #container_first_name {
      padding-right: 10px;
    }
    #container_email,
    #container_last_name {
      padding-left: 10px;
    }
    #lp-pom-form-42 #container_course_of_interest,
    #lp-pom-form-42 #container_state {
      width: 100%;
    }
  }

  @media only screen  and (max-width: 600px){
    #lp-pom-form-42 .optionsList{
      margin-top: 28px;
    }
    #lp-pom-form-42 .lp-pom-form-field {
      margin: 0 auto 15px;
    }
  }
</style>
