.bnts-table .pagination > li {
    width: auto;
    padding: 10px;
    line-height: 1.2;
    height: auto;
    cursor: pointer;
    transition: 0.5s;
}
.bnts-table .pagination > li:hover {
    background-color: var(--bs-primary);
}
.bnts-table .pagination > li:hover a {
    color: #fff;
}
.table-scroll{
  padding-bottom: 0;
}
.btn-consult {
    text-decoration: none !important;
}
.bnts-form.program-form input[type="submit"] {
    max-width: 280px !important;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
