  <!--
    templateType: page
    isAvailableForNewContent: true
    label: Booking Proposal Form Entries
-->
{% extends ".././layouts/bootstrap-base.html" %}

{% block template_page_style %}
{{ require_css(get_asset_url("../../css/form/magicsuggest.css")) }}
{% endblock template_page_style %}

{% block body %}
<main class="bnts-main">
  {% dnd_area "page-template form-entries-top" label='Main Top Content' %}

  {% dnd_section %}
  {% end_dnd_section %} 

  {% end_dnd_area %}

  <section class="bnts-wrapper form-entries">
    <div class="container">
      <div id="ftable-entries" class="bnts-table book-consultation">
        <div class="table-controller flex justify-content-between align-items-center">
          <div class="page-title">
            <h2>Form Entries</h2>
          </div>
          <div class="controller-inputs flex align-items-end">
            <a class="btn btn-primary me-1 text-decoration-none" href="https://mp.kongo.melbourne/book-program">Add</a>
            <input class="search form-control mt-0" type="text" placeholder="Search any keyword" />
          </div>
        </div>
        <div class="table-scroll">
          <table class="table table-striped">
            <thead>     
              <tr>
                <th class="form-entry-header rowno">No.</th>
                <th class="form-entry-header form-id">Form Id</th>
                <th class="form-entry-header form-label">Form Label</th>
                <th class="form-entry-header form-type">Form Type</th>
                <th class="form-entry-header firstname">First Name</th>
                <th class="form-entry-header lastname">Last Name</th>
                <th class="form-entry-header email">Email</th>
                <th class="form-entry-header phone">Phone Number</th>
                <th class="form-entry-header school">School</th>
                <th class="controller">Actions</th>
              </tr>
            </thead>
            <tbody class="list">
            </tbody>
          </table>
        </div>
        <nav aria-label="Table Pagination">
          <ul class="pagination">
          </ul>
        </nav>
      </div>
    </div>
  </section>
  {% dnd_area "page-template form-entries-bottom" label='Main Bottom Content' %}

  {% dnd_section %}
  {% end_dnd_section %} 

  {% end_dnd_area %}
  <div class="modal fade" id="approval-modal" tabindex="-1" role="dialog" aria-labelledby="eventModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title text-capitalize" id="eventModalLabel">Booking Program - <span class="modal-id"></span></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="infosec contant-info">
            <h3 class="infosec-title">Contact Info</h3>
            <div class="info-group-wrap col2">
              <div class="info-wrap firstname">
                <h6 class="title">Frstname </h6>
                <label>Jaime</label>
              </div>
              <div class="info-wrap lastname">
                <h6 class="title">Lastname </h6>
                <label>Guevarra</label>
              </div>
            </div>
            <div class="info-group-wrap col2">
              <div class="info-wrap email">
                <h6 class="title">Email </h6>
                <label>jaimeteste@sg.com</label>
              </div>
              <div class="info-wrap phone">
                <h6 class="title">Phone </h6>
                <label>09125213454</label>
              </div>
            </div>
            <div class="info-group-wrap col2">
              <div class="info-wrap school">
                <h6 class="title">School </h6>
                <label>BNTS</label>
              </div>
            </div>
          </div>
          <div class="infosec booking-info">
            <h3 class="infosec-title">Booking Details</h3>
            <div class="accordion" id="accor-booking">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#accor-item-consultation" aria-expanded="true" aria-controls="accor-item-consultation">
                    Consultation
                  </button>
                </h2>
                <div id="accor-item-consultation" class="accordion-collapse collapse show" data-bs-parent="#accor-booking">
                  <div class="accordion-body">
                    <div class="info-group-wrap col2">
                      <div class="info-wrap bkcons_program_length">
                        <h6 class="title">How long will the program be?</h6>
                        <label></label>
                      </div>
                      <div class="info-wrap bkcons_location_site">
                        <h6 class="title">How much will be done in school/on-site</h6>
                        <label></label>
                      </div>
                    </div>
                    <div class="info-wrap bkcons_learning_outcomes">
                      <h6 class="title">What are the expected learning outcomes</h6>
                      <label></label>
                    </div>
                    <div class="info-wrap bkcons_equipments">
                      <h6 class="title">What are the technologies/equipments required?</h6>
                      <label></label>
                    </div>
                    <div class="info-wrap bkcons_softwares">
                      <h6 class="title">What are the softwares required?</h6>
                      <label></label>
                    </div>
                    <div class="info-wrap bkcons_programs">
                      <h6 class="title">Recommended Learning Experience</h6>
                      <label></label>
                    </div>
                    <div class="info-wrap bkcons_room">
                      <h6 class="title">Recommended room/space</h6>
                      <label></label>
                    </div>
                    <div class="info-wrap bkcons_staffing_needs">
                      <h6 class="title">Staffing needs</h6>
                      <label></label>
                    </div>
                    <div class="info-wrap bkcons_additional_notes">
                      <h6 class="title">Additional Notes</h6>
                      <label></label>
                    </div>
                  </div>
                </div>
              </div>
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accor-item-prebooking" aria-expanded="false" aria-controls="accor-item-prebooking">
                    Pre-Booking
                  </button>
                </h2>
                <div id="accor-item-prebooking" class="accordion-collapse collapse" data-bs-parent="#accor-booking">
                  <div class="accordion-body">

                    <div class="info-group-wrap col2">
                      <div class="info-wrap bkpros_start_date">
                        <h6 class="title">Start Date </h6>
                        <label></label>
                      </div>
                      <div class="info-wrap bkpros_start_time">
                        <h6 class="title">Time: </h6>
                        <label></label>
                      </div>
                    </div>

                    <div class="info-group-wrap col2">
                      <div class="info-wrap bkpros_end_date">
                        <h6 class="title">End Date </h6>
                        <label></label>
                      </div>
                      <div class="info-wrap bkpros_end_time">
                        <h6 class="title">Time </h6>
                        <label></label>
                      </div>
                    </div>

                    <div class="info-group-wrap col3">
                      <div class="info-wrap bkpros_teachers_number">
                        <h6 class="title">Number of Teachers </h6>
                        <label></label>
                      </div>
                      <div class="info-wrap bkpros_students_number">
                        <h6 class="title">Number of Students </h6>
                        <label></label>
                      </div>
                      <div class="info-wrap bkpros_year_level">
                        <h6 class="title">Year Level </h6>
                        <label></label>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark btn-modal-close" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary btn-modal-approval">Approve</button>
        </div>
      </div>
    </div>
  </div>
  <!--- Confirmation --->
  <div class="modal fade" id="confirmationDialog" tabindex="-1" aria-labelledby="confirmationDialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Booking Confirmation</h1>
        </div>
        <div class="modal-body default">
          Are you sure you want to approve this record?
        </div>
        <div class="modal-body loader text-center" style="display:none;">
          <span class="mb-1 d-block">Loading...</span>
          <svg width="40" height="40" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><style>.spinner_ajPY{transform-origin:center;animation:spinner_AtaB .75s infinite linear}@keyframes spinner_AtaB{100%{transform:rotate(360deg)}}</style><path d="M12,1A11,11,0,1,0,23,12,11,11,0,0,0,12,1Zm0,19a8,8,0,1,1,8-8A8,8,0,0,1,12,20Z" opacity=".25"></path><path d="M10.14,1.16a11,11,0,0,0-9,8.92A1.59,1.59,0,0,0,2.46,12,1.52,1.52,0,0,0,4.11,10.7a8,8,0,0,1,6.66-6.61A1.42,1.42,0,0,0,12,2.69h0A1.57,1.57,0,0,0,10.14,1.16Z" class="spinner_ajPY"></path></svg>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-bs-dismiss="modal">No</button>
          <button type="button" class="btn btn-primary btn-confirm-yes">Yes</button>
        </div>
      </div>
    </div>
  </div>
  <!--- End of Confirmation ---> 
</main>
{% endblock body %}
{# HUBL Variables #}

  {#  Get reference values on some table by Id and conditioning with IN clause #}
  {% macro getRowsRefsIn(tableId, property, values) %}
    {% set objProps = [] %}
    {% set objRows = hubdb_table_rows(tableId)|selectattr(property, "in", values) %}
    
    {% for obj in objRows %}
      {%
        set objProp = {
          "id": obj.hs_id,
          "name": obj.name
        }
      %}
      {% do objProps.append(objProp) %}
    {% endfor %}

    {{objProps | tojson}}
  {% endmacro %}
{# End HUBL Variables #}

{% block template_page_script %}
<script src="//cdnjs.cloudflare.com/ajax/libs/list.js/2.3.1/list.min.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
 
    const formEntries = async () => {
      const formEntriesEURL = "https://mp.kongo.melbourne/_hcms/api/update-form-entry?form_type=Booking%20Proposal";
      try {
        const response = await fetch(formEntriesEURL);
        if (response.ok) {
          const data = await response.json();
          if (data.length > 0) return data;
        }
      } catch (error) {
        console.error(error);
        return [];
      }
    };
    

    const formListInit = async ()=>{
      const entries = await formEntries();
      
      if(entries.length > 0){
        const tableContainer = $('.bnts-table table');
        const tableList = tableContainer.find('tbody.list');
        entries.forEach((item, index) => {
          const otherProps = encodeURIComponent(JSON.stringify(item));
          const listHTML = `
            <tr class="form-entry bnts-form-entry-${index}">
              <td class="form-entry-property rowno">${index + 1}</td>
              <td class="form-entry-property form-id">${item.properties.form_id}</td>
              <td class="form-entry-property form-label">${item.properties.form_label}</td>
              <td class="form-entry-property form-type">${item.properties.form_type}</td>
              <td class="form-entry-property firstname">${item.firstname}</td>
              <td class="form-entry-property lastname">${item.lastname}</td>
              <td class="form-entry-property email">${item.email}</td>
              <td class="form-entry-property phone">${item.mobilephone}</td>
              <td class="form-entry-property school">${item.bnts_school}</td>
              <td class="form-entry-action update">
                <div class="d-flex justify-content-center px-1">
                  <input type="button" class="btn btn-secondary btn-update small me-1" value="Update" data-entryid="${item.formEntryId}" data-entryprops="${otherProps}"> 
                  <input type="button" class="btn btn-primary btn-approval small" value="Approval" data-entryid="${item.formEntryId}" data-entryprops="${otherProps}">
  </div>
  </td>
  </tr>
          `;

          tableList.append(listHTML);
        });


        const options = {
          valueNames: ['rowno', 'record-id', 'form-id', 'form-label', 'form-type', 'email', 'crm-contact-id'],
          pagination: true,
        };
        const formList = new List('ftable-entries', options);
        $('input[type="button"].btn-update').click(function(e){
          const obj = JSON.parse(decodeURIComponent($(this).attr("data-entryprops")));
          //           const redirectURL = `https://mp.kongo.melbourne/book-program?action=update&
          //             firstname=${obj.firstname}&
          //             lastname=${obj.lastname}&
          //             email=${obj.email}&
          //             mobilephone=${obj.mobilephone}&
          //             bnts_school=${obj.bnts_school}&
          //             bkpros_start_date=${obj.properties.bkpros_start_date}&
          //             bkpros_end_date=${obj.properties.bkpros_end_date}&
          //             bkpros_start_time=${obj.properties.bkpros_start_time}&
          //             bkpros_end_time=${obj.properties.bkpros_end_time}&
          //             bkpros_students_number=${obj.properties.bkpros_students_number}&
          //             bkpros_teachers_number=${obj.properties.bkpros_teachers_number}&
          //             bkpros_year_level=${obj.properties.bkpros_year_level}&            
          //             form_id=${obj.properties.form_id}&
          //             form_label=${obj.properties.form_label}&
          //             form_type=${obj.properties.form_type}
          //           `;
          const redirectURL = `https://mp.kongo.melbourne/book-program?action=update&firstname=${obj.firstname}&lastname=${obj.lastname}&email=${obj.email}&mobilephone=${obj.mobilephone}&bnts_school=${obj.bnts_school}&bkpros_start_date=${obj.properties.bkpros_start_date}&bkpros_end_date=${obj.properties.bkpros_end_date}&bkpros_start_time=${obj.properties.bkpros_start_time}&bkpros_end_time=${obj.properties.bkpros_end_time}&bkpros_students_number=${obj.properties.bkpros_students_number}&bkpros_teachers_number=${obj.properties.bkpros_teachers_number}&bkpros_year_level=${obj.properties.bkpros_year_level}&form_id=${obj.properties.form_id}&form_label=${obj.properties.form_label}&form_type=${obj.properties.form_type}`;
          location.href = redirectURL;
        });

        $('.btn-modal-close').click(function(){
          localStorage.setItem("bnts-selected-approval-data", null);
        });

        $('input[type="button"].btn-approval').click(function(e){
          const obj = JSON.parse(decodeURIComponent($(this).attr("data-entryprops")));
          localStorage.setItem("bnts-selected-approval-data", $(this).attr("data-entryprops"));

          $('.modal-id').text(obj.formEntryId);
          const multiChoices = [
            'bkcons_equipments',
            'bkcons_softwares',
          ];
          const elementClasses = [
            'firstname',
            'lastname',
            'mobilephone',
            'email',
            'bnts_school',
            'bkcons_program_length',
            'bkcons_location_site',
            'bkcons_school_cost',
            'bkcons_learning_outcomes',
            'bkcons_equipments',
            'bkcons_softwares',
            'bkcons_programs',
            'bkcons_room',
            'bkcons_additional_notes',
            'bkcons_staffing_needs',
            'bkpros_start_date', 
            'bkpros_start_time', 
            'bkpros_end_date',
            'bkpros_end_time',
            'bkpros_teachers_number',
            'bkpros_students_number',
            'bkpros_year_level',
          ];

          elementClasses.forEach(item =>{
            if(item.includes("date")){
              const mStartDate = moment(obj.properties.bkpros_start_date).format('MMMM Do YYYY');
              const mEndDate = moment(obj.properties.bkpros_end_date).format('MMMM Do YYYY');
              if(item.includes("start")){
                $(`.info-wrap.${item} label`).text(mStartDate);
              }else if(item.includes("end")){
                $(`.info-wrap.${item} label`).text(mEndDate);
              }
            }else if(multiChoices.includes(item)){
              $(`.info-wrap.${item} label`).html('');
              if(obj.properties[item]){
                const choices = obj.properties[item].split(";");
                choices.forEach(choice => {
                  $(`.info-wrap.${item} label`).append(`<span class="choice-value">${choice}</span>`);
                });     
              }
            }else if(item.includes('bkpros') || item.includes('bkcons')){
              $(`.info-wrap.${item} label`).text(obj.properties[item]);
            }else{
              $(`.info-wrap.${item} label`).text(obj[item]);
            }
          });

          const approvalModalElement = document.getElementById('approval-modal');
          const modal = new bootstrap.Modal(approvalModalElement, {
            keyboard: false,
          });
          modal.show();
        });



        /*** Confirmation ***/
        $('.btn-modal-approval').click(function(e){
          $('#approval-modal').modal("hide");
          const confirmationDialog = document.getElementById('confirmationDialog');
          const modal = new bootstrap.Modal(confirmationDialog, {
            keyboard: false,
            backdrop: 'static',
          });
          modal.show();
          confirmationDialog.addEventListener('hidden.bs.modal', event => {
            $('#approval-modal').modal("show");
          });
        });
        
        //*** Saving here **/
        $('.btn-confirm-yes').click(function(){
          const dataStored = localStorage.getItem("bnts-selected-approval-data");
          const obj = JSON.parse(decodeURIComponent(dataStored));

          $(confirmationDialog).find(".modal-body.default, .modal-footer").hide();
          $(confirmationDialog).find(".modal-body.loader").show('slow');

          fetch(`https://mp.kongo.melbourne/_hcms/api/booking/add`)
            .then(res => res.ok ? res.json() : Promise.reject(res))
            .then(data => {
              
              console.log(data);
              const modalBodyDefault = $(confirmationDialog).find(".modal-body.default");
              modalBodyDefault.show();
              $(confirmationDialog).find(".modal-body.loader").hide();
              modalBodyDefault.text("Record saved successfully!");
              setTimeout(()=>{
                location.reload();
              }, 500);
            })
            .catch(error => {
              console.error(error);
            });           
        });
        /*** Confirmation ***/

      }
    }

    formListInit();  
    


  });
</script>
{% endblock template_page_script %}

