@import '../../../../assets/styles/custom/mixins.scss';

:host{
    .file-remove .ctrl-remove {
        width: 12px;
        opacity: 0.5;
        @include simpleTransition;
    
        &:hover{
            opacity: 1;
        }
    }

    
    .progress-bar-body{
        border-radius: 20px;
        border: 1px solid var(--gray-2);
        background: var(--bs-gray-dark);
        overflow: hidden;
        position: relative;
        transition: 0.5s;
    
        &:after{
            content: "";
            width: 100%;
            height: 100%;
            background-image: linear-gradient(90deg, transparent, rgba(255, 255, 255, 0.5));
            position: absolute;
            left: 0;
            top: 0;
            -o-transition: 0.4s;
            -moz-transition: 0.4s;
            -webkit-transition: 0.4s;
            transition: 0.4s;
            border-radius: 20px;           
            @include simpleTransition;
            @include progressbarOverlay;
        }
    
        .progress-bar {
            height: 100%;
            border-radius: 20px;
            background-color:  var(--bs-gray-400);
            @include simpleTransition;
        }
    }

    .download-ctrl{
        cursor: pointer;
    }

    .file-progress-percent{
        font-size: 14px;
        font-weight: 600;
    }
    
    .file-item{
        &.download-failed  .progress-bar-body:after,
        &.download-success .progress-bar-body:after{
            display: none;
        }
    }
}
