<div class="file-item mb-3" [id]=" 'file-'+file.id"
    [ngClass]="{'in-progress': file.inProgress, 'download-success': file.completed, 'download-failed': file.hasError}">
    <div class="row progress-status">
        <div class="col-sm-11 p-0 progress-bar-body">
            <span 
                class="d-inline-block progress-bar"
                [ngClass]="{'bg-info': file.inProgress, 'bg-success': file.completed, 'bg-danger': file.hasError}"
                [ngStyle]="{ 'width.%': file.progressInPercent }"></span>
        </div>
        <div class="col-sm-1 file-remove text-end">
            <img (click)="removeFile()" src="assets/images/close-black-icon.svg" alt="" class="download-ctrl ctrl-remove">
        </div>
    </div>
    <div class="row progress-details mt-1">
        <div class="col-sm-6 ps-0 file-name">{{ file.fileName }}</div>
        <div class="col-sm-5 progress-controls pe-0 text-end">
            <span *ngIf="file.hasError" class="download-ctrl fw-bold text-primary" (click)="retryDownload()">Retry</span>
            <span *ngIf="!file.hasError" class="file-progress-percent fw-600">{{ file.progressInPercent + '%' }}</span>
        </div>
        <div class="col-sm-1 spacer"></div>
    </div>
</div>
